/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  @apply font-poppins flex justify-center items-center min-h-screen;
  @apply bg-custom-image;
}

* {
  @apply m-0 p-0 box-border;
}

.bg-custom-image {
  /* Ensure the path is correct and the image is accessible */
  background-image: url('../public/assets/1351633.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
